<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code404.SoundcloudHelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Translucent">
        <activity
            android:name="com.code404.SoundcloudHelper"
            android:label="@string/title_activity"
            android:launchMode="singleTop"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
